<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <config id ="HSSS" name="平台基础库" default="true">
    <add key="Data Source" value="10.165.3.96" />
    <add key="Initial Catalog" value="HSRIA" />
    <add key="User ID" value="sa" />
    <add key="pwd" value="Sa123456" />
  </config>
</configuration>